SECRET_KEY=your-secret-key

DEBUG=False

ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=drive_clone_db
DB_USER=drive_clone_user
DB_PASSWORD=your_password
DB_HOST=db
DB_PORT=5432

REDIS_URL=redis://redis:6379/1

EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password
DEFAULT_FROM_EMAIL=your-email@gmail.com