# venv/
# __pycache__/
*.pyc
# .env
# db.sqlite3
# media/
# staticfiles/
# .vscode/
# .idea/
# *.log

# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# ==========================================
# Virtual Environment
# ==========================================
venv/
env/
ENV/
.venv/

# ==========================================
# Django
# ==========================================
db.sqlite3
db.sqlite3-journal

media/
staticfiles/

# Logs
*.log

# Local settings
local_settings.py

# ==========================================
# Environment Variables
# ==========================================
.env
.env.*
!.env.example

# ==========================================
# Migrations (Optional)
# Keep this commented if you want migrations in Git
# */migrations/
# !*/migrations/__init__.py
# ==========================================

# ==========================================
# Pytest
# ==========================================
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# ==========================================
# MyPy
# ==========================================
.mypy_cache/

# ==========================================
# Ruff
# ==========================================
.ruff_cache/

# ==========================================
# PyCharm
# ==========================================
.idea/

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# macOS
# ==========================================
.DS_Store

# ==========================================
# Windows
# ==========================================
Thumbs.db
Desktop.ini

# ==========================================
# Build / Distribution
# ==========================================
build/
dist/
*.egg-info/
.eggs/


# ==========================================
# Redis
# ==========================================
dump.rdb

# ==========================================
# Celery
# ==========================================
celerybeat-schedule

# ==========================================
# Temporary Files
# ==========================================
*.tmp
*.temp
*.bak